.footer {
    display: flex;
    justify-content: flex-start;
    padding: 33px;
    gap: 260px;
    color: #C0C0C0;
}

.info_footer {
    text-align: center;
}

.info_footer h3 {
    font-size: 14px;
}

.info_footer p {
    font-size: 12px;
}

.footer h4 {
    font-weight: 400;
    font-size: 16px;
}