.container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-right: 30px;
    flex: 1;
}

.container h5 {
    color: #373737;
    font-size: 18px;
    font-weight: 600; 
}

.card_notas {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    flex: 40%;
    background-color: #FAFAFA;;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
}

.card_presenca {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    flex: 30%;
    background-color: #FAFAFA;;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
}

.notas {
    margin-top: 44px;
    margin-bottom: 33px;
    display: flex;
    justify-content: space-around;
}

.notas h5 {
    color:#124375;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 12px;
}

.notas h4 {
    font-size: 34px;
    font-weight: 500;
    transform: scale(1.5);
    color: #07DB47;
    margin-bottom: 12px;
}

.notas p {
    font-weight: 600;
    font-size: 16px;
    color: #B2B2B2;
}

.infos {
    border-right: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
}

.comentarios {
    margin-top: 10px;
    padding: 10px;
    color: #696969;
}

.bg {
    background-color: #E5E5E5;
}

.conteudo {
    display: flex;
}